
#osm-map-settings {
    margin: 5px 15px 2px;
}

#osm-map-settings div#alert-message {
    margin-left: 0;
}

#osm-map-settings h2 {
    color: #6d7882;
    font-weight: 400;
    font-size: 22px;
}

#osm-map-settings .card-header h3.card-title {
    color: #6d7882;
    padding: 5px 20px;
    font-weight: 500;
}

#osm-map-settings .card {
    padding: 0;
    border-color: #f1f1f1;;
}

#osm-map-settings .card-content {
    padding: 20px;
    background-color: #f7f7f7;
}

#osm-map-settings .card-header {
    border-bottom: 1px solid #f1f1f1;
}

#osm-map-settings input[type="text"] {
    width: 100%;
}

#osm-map-settings .osm-button {
    background: #e14d43;
    border-color: #e14d43;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    line-height: 2.15384615;
    min-height: 30px;
    margin: 0;
    padding: 0 10px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    border-radius: 3px;
    white-space: nowrap;
    box-sizing: border-box;
}

#osm-map-settings .form-group {
    margin-bottom: 25px;
}

/* The switch - the box around the slider */
#osm-map-settings .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
#osm-map-settings .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
#osm-map-settings .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

#osm-map-settings .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

#osm-map-settings input:checked + .slider {
    background-color: #2196F3;
}

#osm-map-settings input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

#osm-map-settings input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
#osm-map-settings .slider.round {
    border-radius: 34px;
}

#osm-map-settings .slider.round:before {
    border-radius: 50%;
}